<!--
  ~ Copyright (c) 2015, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ApiManager-features-test-suite">
    <parameter name="useDefaultListeners" value="false"/>

    <test name="apim-integration-tests-api-lifecycle-2" preserve-order="true" parallel="false" group-by-instances="true">
        <parameter name="group" value="group4"/>
        <classes>
            <class name="org.wso2.am.integration.tests.rest.MalformedRequestTest"/>
            <class name="org.wso2.am.integration.tests.other.ScriptMediatorTestCase"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.RegistryLifeCycleInclusionTest"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.CustomLifeCycleTestCase"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.APIMANAGER5337SubscriptionRetainTestCase"/>
            <class name="org.wso2.am.integration.tests.header.CustomHeaderTestCase"/>
            <!--<class name="org.wso2.am.integration.tests.header.DuplicateHeaderTestCase"/>-->
            <class name="org.wso2.am.integration.tests.token.InvalidTokenTestCase"/>
            <class name="org.wso2.am.integration.tests.token.InvokeAPIWithVariousEndpointsAndTokensTestCase"/>
            <class name="org.wso2.am.integration.tests.token.InvokeAPIWithVariousEndpointsAndTokensInSandboxEnvTestCase"/>
            <class name="org.wso2.am.integration.tests.throttling.APIThrottlingTestCase"/>
            <class name="org.wso2.am.integration.tests.throttling.JWTBandwidthThrottlingTestCase"/>
            <class name="org.wso2.am.integration.tests.throttling.BurstControlTestCase"/>
            <class name="org.wso2.am.integration.tests.throttling.ApplicationThrottlingResetTestCase"/>
            <class name="org.wso2.am.integration.tests.operationPolicy.OperationPolicyTestCase"/>
            <class name="org.wso2.am.integration.tests.other.APICreationForTenantsTestCase" />
            <class name="org.wso2.am.integration.tests.operationPolicy.JWTClaimBasedAccessValidatorPolicyTestCase"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.APISecurityTestCase" />
        </classes>
    </test>

    <test name="apim-integration-token-persistence-tests" preserve-order="true" parallel="false"
          group-by-instances="true">
        <parameter name="group" value="group5"/>
        <classes>
            <class name="org.wso2.am.integration.tests.token.TokenPersistenceTestSuite"/>
            <class name="org.wso2.am.integration.tests.token.TokenAPITestCase"/>
            <class name="org.wso2.am.integration.tests.token.InvokeAPIWithVariousEndpointsAndTokensTestCase"/>
            <class name="org.wso2.am.integration.tests.token.OpenIDTokenAPITestCase"/>
            <class name="org.wso2.am.integration.tests.jwt.JWTGrantTestCase"/>
            <class name="org.wso2.am.integration.tests.jwt.JWTRevocationTestCase"/>
            <class name="org.wso2.am.integration.tests.jwt.FederatedUserJWTTestCase"/>
        </classes>
    </test>

    <test name="apim-integration-token-persistence-tests-jwt" preserve-order="true" parallel="false"
          group-by-instances="true">
        <parameter name="group" value="group5"/>
        <classes>
            <class name="org.wso2.am.integration.tests.token.TokenPersistenceJWTTestSuite"/>
            <class name="org.wso2.am.integration.tests.jwt.JWTTestCase"/>
        </classes>
    </test>

    <test name="apim-integration-token-persistence-tests-url-safe-jwt" preserve-order="true" parallel="false"
          group-by-instances="true">
        <parameter name="group" value="group5"/>
        <classes>
            <class name="org.wso2.am.integration.tests.token.TokenPersistenceURLSafeJWTTestSuite"/>
            <class name="org.wso2.am.integration.tests.jwt.urlsafe.URLSafeJWTTestCase"/>
        </classes>
    </test>

    <test name="apim-integration-token-persistence-tests-external-idp-jwt" preserve-order="true" parallel="false"
          group-by-instances="true">
        <parameter name="group" value="group5"/>
        <classes>
            <class name="org.wso2.am.integration.tests.token.TokenPersistenceExternalIDPJWTTestSuite"/>
            <class name="org.wso2.am.integration.tests.jwt.idp.ExternalIDPJWTTestCase"/>
        </classes>
    </test>

</suite>
